.statsPanel {
    position: absolute;
    bottom: 106rem;
    left: 10rem;
    width: 200rem;

    background-color: rgba(24, 24, 37, 0.75);
    backdrop-filter: var(--panelBlur);
    border-radius: 12rem;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    color: white;
    overflow: hidden;
    padding: 12rem;
    gap: 8rem;
}

.statGroup {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__heading {
        font-weight: bold;
        font-size: 14rem;
        border-bottom: 1rem solid rgba(255, 255, 255, 0.15);
        padding-bottom: 4rem;
    }

    &__values {
        display: flex;
        flex-direction: column;
    }
}

.statRow {
    display: flex;
    justify-content: space-between;
    font-size: 14rem;

    &__label {
        opacity: 0.6;
        color: white;
    }

    &__value {
        color: #28DDFF;
        font-variant-numeric: tabular-nums;
    }
}

.closeButton {
    opacity: 0.3;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8rem;
    right: 8rem;

    &__icon {
        width: 16rem;
        height: 16rem;
    }

    &:hover {
        opacity: 1;
    }
}
