$section-spacing: 16rem;

.statsPanel {
    position: absolute;
    bottom: 106rem;
    left: 10rem;
    width: 300rem;

    background-color: rgba(24, 24, 37, 0.75);
    backdrop-filter: var(--panelBlur);
    border-radius: 12rem;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    color: white;
    overflow: hidden;
    padding: 16rem;    

    &__header {
        display: flex;        
        align-items: center;
        justify-content: space-between;
        margin-bottom: $section-spacing;
        padding-bottom: 4rem;
        flex: 1;

        div {
            display: flex;        
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            width: 24rem;
            height: 24rem;
            margin-right: 8rem;
        }

        span {
            font-size: 14rem;
            color: white;
        }
    }
}


.statGroup {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;

    &__heading {
        font-weight: bold;
        font-size: 14rem;
        border-bottom: 1rem solid rgba(255, 255, 255, 0.15);
        padding-bottom: 4rem;
    }

    &__values {
        display: flex;
        flex-direction: column;
    }
}

.statRow {
    display: flex;
    justify-content: space-between;
    font-size: 14rem;

    &__label {
        opacity: 0.6;
        color: white;
    }

    &__value {
        color: #28DDFF;
        font-variant-numeric: tabular-nums;
    }
}

.startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 12rem;
    border-radius: 8rem;
    background-color: rgba(40, 221, 255, 0.15);
    color: #28DDFF;
    font-size: 14rem;
    font-weight: bold;

    &:hover {
        background-color: rgba(40, 221, 255, 0.3);
    }
}

.timerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: $section-spacing;

    &__time {
        font-size: 18rem;
        font-weight: bold;
        font-variant-numeric: tabular-nums;
        color: white;
    }

    &__limit {
        opacity: 0.5;
    }

    &__controls {
        display: flex;

        & > * {
            margin-left: 4rem;
        }

        & > *:first-child {
            margin-left: 0;
        }
    }
}

.iconButton {
    opacity: 0.6;

    &:hover, &:active {
        opacity: 1;
    }
}
